*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.images{
    width: 600px;
    height: 400px;
    position:absolute;
    top: 0%;
    border-radius: 20px;
    
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
   
}
.prevbtn{
    position: fixed;
    left: 19.9rem;
    background-color: white;
    border-radius: 100px;
    top: 11rem;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.nextbtn{
    position: fixed;
    right: 19.9rem;
    background-color: white;
    border-radius: 100px;
    top: 11rem;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
 width: 20px;
 border-radius: 100%;
 height: 20px;
   background-color: white;
   border: none;
}
.slide_dark {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
 width: 20px;
 border-radius: 100%;
 height: 20px;
   background-color: gray;
   border: none;
}


.indicators{
    position: absolute;
    bottom: -27rem;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}